body {
    /* background-color: rgb(105 113 100); */
}

#landscape {
    fill:url(#sky-grad)
}

path {
    fill:url(#red-grad)
}

.top-bar {
    width: 90%;
    margin: 0 auto;
}

.tree {
    /* fill: #697164; */
}

circle {
    fill: rgba(255,255,255, 0.1)
}

#landscape {
    /* position:absolute; */
    /* right:0; */
    border: 2px solid black;
    width: 90%;
    height: 100%;
    margin: 1rem auto;
}

#big-date {
    font-size: x-large;
    position:fixed;
    bottom:5;
    left: 5;
    color: #6b7a8e;
}

#tweet-text {
    color: #666;
    margin: 0 auto;
    width: 90%;
    font-size: 3rem;
    z-index: 1;
    line-height: 3rem;
    background-color: rgba(255,255,255,0.8);
    padding:  1rem;
}
